
.navbar {
  background-color: #2d3748;
  color: #f7fafc;
  padding: 0.5rem 1rem;
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list li {
  margin-right: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}
.nav-list li:hover,
.nav-list li.active {
  text-decoration: underline;
}
